.tabItem {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 0;
}

.selected {
  background-color: var(--disabled);
  color: var(--text-light);
}