.default.increment::before {
  content: '+';
}

.default.decrement::before {
  content: '-';
}

.thumb {
  background: var(--accent-bg);
}

.thumb.increment.light::before {
  content: '👍';
}

.thumb.decrement.light::before {
  content: '👎';
}

.thumb.increment.dark::before {
  content: '🌟';
}

.thumb.decrement.dark::before {
  content: '👾';
}