.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.header {
  margin-right: auto;
  color: var(--text);
  text-decoration: none;
}

.header>h1 {
  color: var(--text);
}

.headerContainer>button {
  margin: 0;
}