.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.header {
  margin-right: auto;
}

.headerContainer>div,
button {
  margin: 0;
}